{% extends "layout.html" %}

{% block title %}
    {{ resto.name }}
{% endblock %}

{% block content %}
    <h1>{{ resto.name }}</h1>
    <h2>Location</h2>
    <p>
        {{ resto.zip_code }} {{ resto.city }} <br>
        {{ resto.address }} <br>
        {{ resto.campus }} <br>
        {{ resto.description }} <br>
    </p>

    <h2>Opening hours</h2>
    <p>
        {% for sched in schedules %}
            {{ sched.time_open.strftime("%H:%M") }} - {{ sched.time_closed.strftime("%H:%M") }} <br>
        {% endfor %}
    </p>

    <h2>Menu</h2>
    <ul>
    {% for m in resto.menu %}
        <li><a href="{{ m.get_info_url() }}">Menu voor {{ m.date.isoformat() }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
